.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.images {
  background: #defcff;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.image {
  margin: 5px;
  cursor: pointer;
  width: 33%;
  max-width: 150px;
  height: 150px;
}

.image img {
  width: 100%;
  border: 5px solid transparent;
}

img.selected {
  border-color: #0085ff;
}

.metadata {
  width: 230px;
  height: 100%;
  background: #c4c4c4;
  flex-grow: 0;
}


input {
  width: 145px;
  height: 20px;
  margin: 5px;
  border: 0px;
}
